# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\Johannes\iCloudDrive\Uni\CSE\Year 3\Q4\Code\Repository\malpaca-pub\malpaca\netflow\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
